.product-details {
    display: flex;
    margin-top: 80px;
    padding-bottom: 80px;
}

.product-data {
    width: 40%;
}

 .remaining-name {
    font-weight: var(--medium);
    margin-top: 8px;
}

.attributes-container {
    margin-top: 30px;
}

.product-data .attributes-container > h4 {
    margin-bottom: 10px;
}

.product-data .attributes-container > h4,
.product-data .price-div > h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}

.product-data .price-div {
    margin-top: 35px;
}

.product-data .price-div h4 {
    margin-bottom: 20px;
}

.product-data .price-div span {
    font-weight: var(--bold);
    font-size: 1.1em;
}

.product-details .product-gallery div {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    margin: 20px 0;
    overflow: hidden;
    cursor: pointer;
}

.product-details .product-gallery div:first-child {
    margin-top: 0;
}

.product-details .product-gallery div:last-child {
    margin-bottom: 0;
}

.product-details .product-image {
    width: 43.5%;
    height: 500px ;
    overflow: hidden;
    margin: 0px 65px 0px 30px;
}

.product-details .product-image img {
    width: 100%;
    object-fit: cover; 
}

.product-details .text-container .data-btn {
    padding: 30px 0px; 
    line-height: 0px;
    cursor: pointer;
}

.product-details .text-container .attributes-capacity ,
.product-details .text-container .attributes-yesNo  {
    padding: 25px 0px;
    max-width: 75px;
}

.product-details .color-container .color-buttons {
    justify-content: start;
}

.product-details .color-buttons .data-btn {
    margin: 0px 5px;
}

.product-details .color-buttons .data-btn:first-child {
    margin-left: 0;
}

.product-details .color-buttons .data-btn:last-child {
    margin-right: 0;
}

.product-details .attributes-size,
.product-details .attributes-capacity,
.product-details .attributes-color,
.product-details .attributes-yesNo {
    margin: 0px 10px;
}

.product-details .attributes-size:first-child,
.product-details .attributes-capacity:first-child,
.product-details .attributes-color:first-child,
.product-details .attributes-yesNo:first-child {
    margin-left: 0px;
}

.product-details .attributes-size:last-child,
.product-details .attributes-capacity:last-child,
.product-details .attributes-color:last-child {
    margin-right: 0px;
}

.add-to-cart button {
    width: 100%;
    margin: 30px 0;
    padding: 18px 0;
}

.add-to-cart button:disabled {
    background-color: #ccc;
    color: var(--dark-gray);
    cursor: not-allowed;
}

.product-description {
    line-height: 1.6em;
    color: var(--secondary-color);
}

.product-description h1,
.product-description h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.product-description p {
    margin-bottom: 20px;
}